# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan

# Sensitive variables
terraform.tfvars
*.auto.tfvars

# Ansible secrets
ansible/group_vars/all/secrets.yml

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
