#cloud-config
hostname: gitlab
fqdn: gitlab.local
manage_etc_hosts: true

users:
  - name: admin
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
package_upgrade: true

packages:
  - curl
  - ca-certificates
  - perl
  - openssh-server
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
